{% extends 'layout.html' %}

{% block body %}
{% if username not in ('', null) %}
  <div>
      <p class="h1 text-center">Welcome <bf class="text-capitalize">{{ username }}</bf>!</p>
  </div>
  <hr>
{% endif %}
<p class="h4 text-center">Welcome to MovR, a vehicle-sharing experience brought to you by <img src="https://d33wubrfki0l68.cloudfront.net/e051c02e4bcafe3450898a73a08eb41549e0c173/7da1e/docs/images/cl_logo_horizontal.svg" width="150" height="150" alt="CRL" class="text-bottom"></p>
{% if username in ('', null) %}
  <p class="text-center">To log in, go to the <a href="/login">Login</a> page.</p>
{% endif %}
{% if city not in ('new york', 'boston', 'washington dc', 'san francisco', 'seattle', 'los angeles', 'chicago', 'detroit', 'minneapolis', 'amsterdam', 'paris', 'rome') %}
  <div class="alert alert-warning" role="alert">
      Unfortunately, MovR hasn't made it to {{ city }} yet! Try coming back later!
  </div>
{% endif %}

{% endblock %}