{% extends 'layout.html' %}

{% block body %}
<p class="h1 text-center">Sign Up</p>
<hr>
{% if err not in ('', null) %}
<div class="alert alert-warning" role="alert">
<p class="h5">{{ err }}</p>
</div>
{% endif %}
<form action="/register" method="POST">
  <div class="form-group">
    <label for="city">City</label>
    <input class="form-control" type="text" name="city" id="city" placeholder="What city do you live in?">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="What's your name?">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input class="form-control" type="text" name="address" id="address" placeholder="What's your address?">
  </div>
  <div class="form-group">
    <label for="credit_card">Payment Information</label>
    <input class="form-control" type="credit_card" name="credit_card" id="credit_card" placeholder="Enter your (fake) credit card number.">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="username" name="username" id="username" placeholder="Enter a username.">
  </div>
  <div class="form-group">
    <label for="credit_card">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Enter a password.">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}
