{% extends 'layout.html' %}

{% block body %}
<p class="h1 text-center">Users</p>
<hr>
{% if err not in ('', null) %}
<div class="alert alert-warning" role="alert">
<p class="h5">{{ err }}</p>
</div>
{% endif %}
{% if not logged_in %}
<div class="d-flex w-100 justify-content-between">
    <p class="alert alert-info" role="alert">Go to the <a href="/login">Log In</a> page to log in. <br> If you aren't registered yet, go to the <a href="/register">Sign Up</a> page to sign up.</p>
</div>
{% endif %}
<div class="list-group">
    {% for user in users %}
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <p class="h5 mb-1">{{ user.name }}</p>
          </div>
        <p class="mb-1">City: <bf class="text-capitalize">{{ user.city }}</bf></p>
        <p class="mb-1">User ID: {{ user.id }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}
