{% extends 'layout.html' %}

{% block app_content %}
<div class="list-group">
    {% for user in users %}
        <a class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5>{{ user.first_name }} {{ user.last_name }}</h5>
            </div>
            <p>Home city: <bf class="text-capitalize">{{ user.city }}</bf></p>
            {% if user.is_owner %}
                <p>This user is also a vehicle owner!</p>
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}
