{% extends 'layout.html' %}

{% block body %}
<p class="h1 text-center">Vehicles</p>
<hr>
{% if err not in ('', null) %}
<div class="alert alert-warning" role="alert">
<h4>{{ err }}</h4>
</div>
{% endif %}
<div class="list-group">
    {% for vehicle in vehicles %}
    <a class="list-group-item">
      <p class="h5 text-capitalize">{{ vehicle.type }}</p>
      <p class="mb-1">Vehicle ID: {{ vehicle.id }}</p>
      <p class="mb-1">Location: <bf class="text-capitalize">{{ vehicle.current_location }}</bf></p>
      {% for i in vehicle.ext %}
      <p class="mb-1"><bf class="text-capitalize">{{ i }}</bf>: <bf class="text-capitalize">{{ vehicle.ext[i] }}</bf></p>
      {% endfor %}
      {% if vehicle.status == 'available' %}
      <div class="d-flex w-100 justify-content-between">
          <p class="alert alert-success" role="alert">Available</p>
      </div>
      <form action="/rides/start" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="rider_id" id="rider_id" placeholder="What is your user ID?">
        </div>
        <div class="form-group">
            <input class="form-control" readonly type="hidden" id="vehicle_id" name="vehicle_id" value="{{ vehicle.id }}">
        </div>
        <div class="form-group">
            <input class="form-control" readonly type="hidden" id="city" name="city" value="{{ vehicle.city }}">
        </div>
        <button class="btn btn-primary">Start ride</button>
      </form>
      {% else %}
      <div class="d-flex w-100 justify-content-between">
          <p class="alert alert-warning" role="alert">Unavailable</p>
      </div>
      {% endif %}
    </a>
    {% endfor %}
</div>
<hr>
<div class="d-flex w-100 justify-content-between">
    <p class="alert alert-info" role="alert"><a href="/vehicles/add">Add a new vehicle</a></p>
</div>
{% endblock %}
