{% extends 'layout.html' %}

{% block app_content %}
<div class="list-group">
    {% for vehicle in vehicles %}
    <a class="list-group-item">
      <p class="text-center text-capitalize">{{ vehicle.type }}</p>
      <p class="mb-1 text-center">Vehicle ID: {{ vehicle.id }}</p>
      <p class="mb-1 text-center">Location: <bf class="text-capitalize">{{ vehicle.current_location }}</bf></p>
      <p class="mb-1 text-center">Color: <bf class="text-capitalize">{{ vehicle.color }}</bf></p>
      <p class="mb-1 text-center">Brand: <bf class="text-capitalize">{{ vehicle.brand }}</bf></p>
      {% if vehicle.status == 'available' %}
      <div class="d-flex w-100 justify-content-between">
          <p class="alert alert-success" role="alert">Available</p>
      </div>
      <form action="/rides/start" method="POST">
        <div class="form-group">
            <input class="form-control" readonly type="hidden" id="vehicle_id" name="vehicle_id" value="{{ vehicle.id }}">
        </div>
        <div class="form-group">
            <input class="form-control" readonly type="hidden" id="rider_id" name="rider_id" value="{{ current_user.id }}">
        </div>
        <div class="form-group">
            <input class="form-control" readonly type="hidden" id="city" name="city" value="{{ vehicle.city }}">
        </div>
        <button class="btn btn-primary">Start ride</button>
      </form>
      {% else %}
      <div class="d-flex w-100 justify-content-between">
          <p class="alert alert-warning" role="alert">Unavailable</p>
      </div>
      {% endif %}
    </a>
    {% endfor %}
</div>
<hr>
<div class="d-flex w-100 justify-content-between">
    <p class="alert alert-info" role="alert"><a href="/vehicles/add">Add a new vehicle</a></p>
</div>
{% endblock %}
